<section class="create_form">
  <h2>Register country</h2>
  <form action="/create" method="POST">
    <input name="name" type="text" placeholder="Country">
    <input name="confirmed" type="number" placeholder="Confirmed cases">
    <input name="recovered" type="number" placeholder="Recovered cases">
    <input name="deaths" type="number" placeholder="Deaths">
    <input type="submit" value="Register Country">
  </form>
</section>